<%- include('includes/head')%>
<%- include('includes/nav')%>


<section class="container">
    <div class="col-lg">
        <h2>Olá <%= user.email %> </h2> 
        <%- include('includes/messages');%>
    </div>
</section>

<%- include('includes/footer')%>

